<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Welcome To Vision360°!</div>
    <div class="masthead-heading text-uppercase">The ultimate solution for your company</div>
  </div>
</header>

<!-- Services Section -->
 <app-services id="services"></app-services>

<!-- Portfolio Grid-->
 <app-portfolio id="portfolio"></app-portfolio>

<!-- About-->
 <app-about id="about"></app-about> 

<!-- Clients-->
<div class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/microsoft.svg" alt="Microsoft Logo" aria-label="Microsoft Logo" /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/google.svg" alt="Google Logo" aria-label="Google Logo" /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook.svg" alt="Facebook Logo" aria-label="Facebook Logo" /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg" alt="IBM Logo" aria-label="IBM Logo" /></a>
      </div>
    </div>
  </div>
</div>

<!-- Contact-->
<!-- <app-contact id="contact"></app-contact> -->
